version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend/data:/app/data
      - ./backend/uploads:/app/uploads
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        # Aquí debes poner la IP de tu máquina si vas a acceder desde otros equipos
        # Ejemplo: NEXT_PUBLIC_API_URL=http://192.168.1.15:3000
        - NEXT_PUBLIC_API_URL=http://localhost:3000
    ports:
      - "3001:3001"
    restart: always
    depends_on:
      - backend
